<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBAuthenticationServices.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SBCombine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SBContacts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SBCoreLocation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SBCryptoKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SBEventKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SBFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SBMapKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SBPDFKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SBPackages-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SBStandardLibrary.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SBStoreKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SBSwiftUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>SBSwifterSwift-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>SBSwifterSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>SBUserNotifications.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>SBWebKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>SBAuthenticationServices</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBCombine</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBContacts</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBCoreLocation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBCoreLocationTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBCryptoKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBEventKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBFoundation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBFoundationTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBMapKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBMapKitTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBPDFKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBStandardLibrary</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBStandardLibraryTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBStoreKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBSwiftUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBSwifterSwift</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBSwifterSwiftTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBUserNotifications</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBWebKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
